@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(70, 16, 66, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 60px;
  border-bottom: 4px solid rgba(70, 16, 66, 1);
  backdrop-filter: blur(24px);
  background: linear-gradient(180deg, #ffd500 0%, #ed8300 59%, #db3100 100%);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  border-bottom: 4px solid rgba(70, 16, 66, 1);
  backdrop-filter: blur(24px);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 457px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(255, 211, 1, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.55px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: rgba(70, 16, 66, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  padding: 12px 24px 12px 24px;
  background: rgba(70, 16, 66, 1);

  border-radius: 100px;
  color: rgba(255, 255, 255, 1);
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
    border: none;
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    border: none;
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 23px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 12px 24px 12px 24px;
    text-decoration: none;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    background: rgba(70, 16, 66, 1);

    border-radius: 20px;
    color: rgba(253, 253, 253, 1);
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 900px;

  padding: 60px 8px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/hero/Home.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title-img {
  width: 249px;
  height: 171px;
}
.home-title {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);
}

.home-text {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(255, 255, 255, 1);
  padding: 8px 0 0;
}
.home__google-button_image {
  margin-top: 22px;
}
@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 800px;

    padding: 103px 601px 0px 28px;
    background-image: url("/image/hero/Home\ \(1\).png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-title-img {
    width: 415px;
    height: 286px;
  }
  .home-title {
    font-family: Nunito;
    font-size: 26px;
    font-weight: 800;
    line-height: 38px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 627px;
  }

  .home-text {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 811px;
    padding: 12px 0 0;
  }
}
.about {
  padding: 22px 20px 0px;
  margin: auto;
  width: 375px;
  height: 1091px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/about/About\ us.png");
}

.about-title {
  font-family: Nunito;
  font-size: 40px;
  font-weight: 900;
  line-height: 54.56px;
  letter-spacing: 0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}
.about-text {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 335px;
  padding: 14px 20px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(70, 16, 66, 1);
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 32px 52px 0;
    margin: auto;
    width: 1440px;
    height: 600px;
    background-image: url("/image/about/About\ us\ \(1\).png");
  }

  .about-title {
    font-family: Nunito;
    font-size: 40px;
    font-weight: 900;
    line-height: 54.56px;
    letter-spacing: 0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .about-list {
    display: flex;
    flex-direction: column;

    gap: 12px;
    padding-top: 51px;
  }
  .about-text {
    width: 648px;
    padding: 14px 22px;
  }
}
.reviews {
  width: 375px;
  height: 660px;

  margin: auto;
  padding: 32px 0px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/image/reviews/Reviews.png");
}

.reviews-list {
  width: auto;
  padding-top: 40px;
  padding-bottom: 28px;
  margin: auto;
}
.reviews-item {
  margin: 0 5px;
  width: 335px;
  height: 442px;
  padding: 14px;

  border-radius: 22px;

  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(70, 16, 66, 1);
}
.reviews-img {
  width: 100px;
  margin: auto;
}
.reviews-text-bold {
  font-family: Nunito;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 12px 0;
}
.reviews-text {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 16px;
}
.reviews-img-two {
  margin: auto;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 600px;

    margin: auto;
    padding: 42px 0px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/image/reviews/Reviews\ \(1\).png");
  }

  .reviews-list {
    width: auto;
    padding-top: 40px;
    padding-bottom: 28px;
    margin: auto;
  }
  .reviews-item {
    margin: 0 10px;
    width: 766px;
    height: 292px;

    padding: 14px;
    gap: 22px;
    align-items: center;
    display: flex;
  }
  .reviews-img {
    width: 180px;
    height: 180px;
    margin: 0;
  }
  .reviews-text-bold {
    font-family: Nunito;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 0px 0 18px;
  }
  .reviews-text {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-bottom: 16px;
  }
  .reviews-img-two {
    margin: 0;
  }
}

.gallery {
  width: 375px;
  background: rgba(215, 171, 255, 1);
  margin: auto;
  padding: 32px 0px;
}

.gallery__list {
  width: auto;
  padding-top: 40px;
  padding-bottom: 27px;

  margin: auto;
}
.gallery__item {
  width: 285.13px;
  height: 400px;

  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;

    margin: auto;
    padding: 32px 0;
  }

  .gallery__item {
    width: 285.13px;
    height: 400px;

    overflow: hidden;
    position: relative;
  }
}
.features {
  width: 375px;
  height: 1266px;

  margin: auto;
  padding: 32px 30px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/features/Benefits.png");
}

.features-list {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.features-item {
  width: 316px;
  padding: 20px 18px;
  border-radius: 22px;
  opacity: 0px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(70, 16, 66, 1);
}
.features-img {
  margin: auto;
}
.features-text-bold {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.55px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 6px;
}
.features-text {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 400px;

    margin: auto;
    padding: 32px 55px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/features/Benefits\ \(1\).png");
  }

  .features-list {
    padding-top: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 33px;
  }
  .features-item {
    width: 316px;
    padding: 20px 18px;
    border-radius: 22px;
    opacity: 0px;
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(70, 16, 66, 1);
  }
}
.footer {
  background: rgba(70, 16, 66, 1);

  color: #ffffff;
  padding: 14px 0px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 4px;
}
.footer-text {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.82px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Nunito;
  font-size: 10px;
  font-weight: 500;
  line-height: 13.64px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 30px 199px;
  }
  .footer-container {
    gap: 20px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;

    gap: 4px;
  }
  .footer-text {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Nunito;
    font-size: 10px;
    font-weight: 500;
    line-height: 13.64px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  padding: 124px 16px 116px;
  color: rgba(0, 0, 0, 1);
}
.policy-terms-title {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.policy-terms-text {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #000;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 186px 80px 116px;
  }
}
